
 <canvas #stockChart></canvas>

 <h2 *ngIf="stockData()">Stock Data for {{ ticker() }}</h2>

 <div *ngIf="stockData()?.results">
   <canvas id="stockChart"></canvas>
 </div>
 
 <p *ngIf="!stockData()">Enter values and press "Search" to get stock data.</p>
<ul *ngIf="stockData()?.results">
  <li *ngFor="let result of stockData()?.results">
    <strong>Date:</strong> {{ result.t | date:'short' }} | 
    <strong>Open:</strong> {{ result.o }} | 
    <strong>Close:</strong> {{ result.c }} | 
    <strong>High:</strong> {{ result.h }} | 
    <strong>Low:</strong> {{ result.l }} | 
    <strong>Volume:</strong> {{ result.v }}
  </li>
</ul>
